body {
    background-color: cyan;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h3 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    margin-bottom: 75px;
    margin-right: 15px;
    background-image: linear-gradient(90deg, cyan, white);
    padding: 20px;
}

h1 {
    font-size: 60px;
}

img {
    width: auto;
    height: 500px;
    display: block;
    margin: auto;
    border: 20px solid black;
}

.text {
    color: rgb(0, 87, 0);
    font-size: 20px;
    margin-left: 10px;
}

